server {
    listen 80;
    location /static/ {
        alias /staticfiles/;
        index parser.html;
        expires 10d;
        add_header Cache-Control "public, max-age=864000";
    }
    location /admin/ {
        proxy_set_header Host $http_host;
        proxy_pass http://network_parser_container:8003/admin/;
    }
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://network_parser_container:8003/;
    }
}