<!-- templates/users/signup.html -->

{% extends "registration/users_base.html" %}
{% block title %}Регистрация{% endblock %}
{% block card %}
  <div class="card-body">
    {% include 'registration/includes/errors_check.html' %}
    <form method="POST" action="{% url 'users:signup' %}">
      {% include "registration/includes/form.html" %}
      <div class="text-center">
        <button type="submit" class="btn btn-warning fs-5 me-2 my-4">
          Зарегистрироваться
        </button>
      </div>
    </form>
  </div>
{% endblock %}