<nav id="sidebar" class="active d-flex flex-column align-items-stretch flex-shrink-0">
  <h2 class="sidebar-title p-4">Запросы</h2>
  <div class="custom-menu pe-4">
    <button type="button" id="sidebarCollapse" class="btn btn-primary d-flex justify-center">
      <svg width="22px" height="22px" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_429_11066)">
          <path d="M3 6.00092H21M3 12.0009H21M3 18.0009H21" stroke="#000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_429_11066">
            <rect width="24" height="24" fill="white" transform="translate(0 0.000915527)"/>
          </clipPath>
        </defs>
      </svg>
    </button>
  </div>

  <div class="sidebar-content ps-4 pe-4">
    <ul id="sidebarComponents" class="components">
      {% for task in tasks %}
        <li>
          {% include 'includes/sidebar_item.html' %}
        </li>
      {% endfor %}

    </ul>
  </div>
</nav>
